name: Continuous Integration
permissions:
  contents: read

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: windows-2025-vs2026

    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v2

    - name: Build
      run: msbuild Caliburn.Light.slnx /restore /t:Pack /p:Configuration=Release /p:ContinuousIntegrationBuild=True

    - name: Upload artifacts
      uses: actions/upload-artifact@v6
      with:
        name: NuGet packages
        path: bin/platform/**/*.nupkg
